<div class="loading" id="identity" title="Menu">
  <div><a class="router" href="#secret" title="Tell secret"><span>tell secret</span></a></div>
  <div><a class="router" href="#bucket" title="Bucket list"><span>bucket list</span></a></div>
  <div><a class="router" href="#projects" title="Latest projects"><span>latest projects</span></a></div>
  <div><a class="router" href="#thoughts" title="My thoughts"><span>my thoughts</span></a></div>
</div>
<a class="loading router" id="signature" href="#" title="Go to home"></a>
<a class="loading" id="burger" href="#" title="Menu">
  <div></div>
  <div></div>
  <div></div></a>
</div>
</div>
</body>
</html>