<%- include('partials/header') %>

<h1>Compose</h1>
<br>
<form class="" action="/compose" method="post">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="" name="title">
    <br><br>
    <label for="exampleFormControlTextarea1">Blog Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="5"></textarea>
    <br>
    <button class="btn btn-primary btn-lg" type="submit">Publish</button>
</form>

<%- include('partials/footer') %>