<%- include('partials/header') %>

<div class="container">

    <div class="social">
        <a class="link" href="https://fb.com/xerycks"><i class="fab fa-facebook fa-3x"></i></a>
        <a class="link" href="https://instagram.com/xerycks"><i class="fab fa-instagram-square fa-3x"></i></a>
        <a class="link" href="https://linkedin.com/"><i class="fab fa-linkedin fa-3x"></i></a>
        <a class="link" href="https://api.whatsapp.com/"><i class="fab fa-whatsapp-square fa-3x"></i></a>
        <a class="link" href="https://github.com/xerycks"><i class="fab fa-github fa-3x"></i></a>

    </div>


    <div class="contact-form">
        <form action="#" class="login-form">

            <div class="txtb">
                <input type="email" placeholder="Your Email" required />
            </div>

            <div class="txtb">
                <textarea placeholder="Message" rows="10" required></textarea>
            </div>

            <input type="submit" class="logbtn" value="Send Mail" />
        </form>
    </div>

</div>

<%- include('partials/footer') %>