<%- include("partials/header")  %>

<div class="post">
    <div class="bloghead">
        <h1><%= heading %></h1>
        <p class="time"><em>Date & Time</em></p>
    </div>
    <p><%= para %></p>
    <p><em> - Author's Name</em></p>

</div>
<%- include("partials/footer")  %>