@import url("https://fonts.googleapis.com/css?family=Hammersmith+One|Montserrat&display=swap");

body {
  background-color: rgb(41, 19, 19);
  background-size: cover;
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

.navbar {
  /* background-color: #202040 !important; */
  background: linear-gradient(280deg, orange, brown) !important;
  border: 0;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 5px;
  padding: 5px 20px 5px;
  position: fixed;
  top: 0;
}

.navbar-brand {
  color: white !important;
  font-family: "Hammersmith One", sans-serif;
  letter-spacing: 3px;
  font-size: 3rem;
  position: relative;
  top: 5px;
}

.navbar-nav li a {
  color: #000 !important;
  font-weight: 600;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.content-row {
  padding: 5px 20px;
}

.blogbox {
  background: linear-gradient(60deg, orange, brown);
  border-radius: 20px;
  margin: 20px auto 20px;
  height: 250px;
  color: #fff;
  transition: ease-out;
  transition-duration: 0.2s;
}

.blogbox:hover {
  position: relative;
  bottom: 4px;
  box-shadow: 3px 4px 4px rgb(95, 95, 95);
  transition: all;
  transition-duration: 0s;
}

.heading {
  padding: 1px 10px 0;
  font-family: "Hammersmith One", sans-serif;
  height: 20%;
}

.content {
  padding: 0 10px 2px;
  font-family: "Montserrat", sans-serif;
}

.content a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.post {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 20px 50px;
}

.bloghead {
  color: white;
  font-family: "Hammersmith One", sans-serif;
  margin-bottom: 50px;
}

.social {
  align-items: center;
  text-align: center;
  position: relative;
  top: 100px;
}

.social i {
  color: White;
  margin: auto 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #000000;
  padding-top: 10px;
}

.footer p {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

.login-form {
  width: 360px;
  background: #f1f1f1;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-form h1 {
  margin-bottom: 60px;
  text-align: center;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb textarea {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.txtb span::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0px;
  width: 0%;
  height: 2px;
  background: linear-gradient(60deg, #e048ff, #4aeaff);
}

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  width: 100%;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(60deg, orange, brown);
  font-size: 1.2rem;
  background-size: 200%;
  color: white;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: right;
}

.bottom {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}
